# ==============================================================================
# OpenShift & GCP Lab Rules
# ==============================================================================
openshift-install
oc
kubectl

workspace/
workspace_*/
auth/
.openshift_install.log
.openshift_install_state.json

*.zip
*.tar.gz
kubeconfig

*.json
!metadata.json

# ==============================================================================
# Python Rules
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.vscode/
.idea/
.DS_Store